# Configurações da Aplicação
NEXT_PUBLIC_APP_URL=https://davidson.dev.br
NEXT_PUBLIC_API_URL=https://api.davidson.dev.br

# Configurações do Next.js
PORT=9002
NODE_ENV=production

# Desativar telemetria do Next.js em produção
NEXT_TELEMETRY_DISABLED=1